@import "variables";
@import "../components/mixins";
@import "../components/query_mixin";

#about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/images/pictures/bg.png");
  position: relative;
}

.about-header {
  font-family: Lato, sans-serif;
  padding: 6rem 2.8rem 0 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: $secondary;

  @include device(tab) {
    padding: 3rem 2.8rem 0 2.8rem;
    max-width: 100rem;
    margin: 10rem auto;
  }
}

.about-heading {
  font-size: 8vw;
  font-weight: 900;
  letter-spacing: 0.2rem;
  padding: 1.4rem 0 3rem 0;
  background: url('../../assets/images/pictures/text-bg.jpg');
  background-position: bottom;
  -webkit-background-clip: text;
  background-clip: text;
  color: $secondary;
  color: transparent;
  font-family: cocogoose, lato, serif;
  text-align: center;

  @include device(tab) {
    font-size: 5.5vw;
  }
}

.wrapper-text {
  margin: 2rem 0;
  padding: 1rem 3rem;
  border: 2px solid $light;
  background: white;
}

.about-desc {
  @include paragraph;

  text-align: center;
}

.further-contact {
  @include paragraph;

  text-align: center;
  padding: 3rem 0;
}

.wrapper-about {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;

  @include device(tab) {
    margin: 0 auto;
  }
}

.pic-title {
  @include heading-2($primary);
}

.about-border {
  @include border(4.8rem);
}

.pic-desc {
  @include paragraph;

  text-align: center;
  padding-bottom: 3rem;
}

.logo-container {
  background: white;
  align-self: center;
  padding: 3rem 3rem;
  margin-top: 2rem;
  text-align: center;
  border: 1px solid $light;

  @include device(tab) {
    padding: 3rem 7rem;
  }

  .logo-pic {
    max-width: 30rem;
    height: auto;
  }
}

.separator {
  height: 0;
  margin-bottom: 2rem;
  border: 0.05px solid lightgray;
}

.previous-works {
  margin: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;

  @include device(tab) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.experiance-1,
.experiance-2 {
  text-align: center;
  position: relative;
  margin: 2rem 0;

  @include device(tab) {
    margin: 0 1rem;
  }
}

.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 90, 81, 0.8);
}

.work-logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.work-details {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 1;
  color: white;
  text-align: center;

  .year {
    font-size: 3.6rem;
    font-weight: 600;
  }

  .work-para {
    @include paragraph($color: $light, $font: 1.8rem, $weight: 600);
  }
}

.wrapper-about-open {
  z-index: 999;

  @include device(tab) {
    display: none;
  }
}

#about-open {
  display: block;

  .fa-bars {
    color: $primary;
  }
}

.about-menu-wrapper {
  @include device(tab) {
    display: none;
  }
}

#about-close {
  position: absolute;
  top: 2rem;
  left: 2.5rem;

  .fa-times {
    color: $light;

    :hover {
      color: $secondary;
    }
  }
}

.about-bottom-nav {
  list-style: none;

  @include device(tab) {
    display: flex;
  }

  &:last-child {
    margin-top: 2rem;

    @include device(tab) {
      margin: 0;
    }
  }
}
