@import "variables";
@import "../components/mixins";
@import "../components/query_mixin";

#intro-section {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/pictures/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper {
  padding: 10rem 2rem 0 2rem;

  @include device(tab) {
    width: 80%;
    padding: 12% 3rem 0 12rem;
  }
}

.type-1 {
  font-size: 4vw;
  font-weight: 400;
  color: $secondary;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  @include device(tab) {
    font-size: 2.8rem;
    font-weight: 600;
  }
}

.heading {
  font-size: 8vw;
  font-weight: 900;
  padding: 1.4rem 0 1rem 0;
  color: $secondary;

  @include device(tab) {
    padding: 0;
    font-size: 6vw;
    padding-top: 1.5rem;
  }
}

.header-text {
  @include paragraph;

  border: 2px solid white;
  margin-top: 2rem;

  @include device (tab) {
    padding: 1rem 0;

    @include paragraph($font:1.8rem, $height:3.2rem);
  }
}

.type-2 {
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 1.5rem;
  color: $primary;
}

.header-text-2 {
  @include paragraph($font:1.8rem, $height:3.2rem);
}
