@import "query_mixin";

@mixin nav-item {
  margin: 0 1.25rem;
  padding-bottom: 1.8rem;

  @include device(tab) {
    margin-right: 1.8rem;
    padding: 1.25rem 0;
  }
}

@mixin paragraph($font:1.6rem, $height:2.4rem, $weight:normal, $color:$primary) {
  font-size: $font;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

@mixin section-heading($color, $font, $height, $weight) {
  font-size: $font;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin border($w:8rem, $b:4rem) {
  align-self: center;
  width: $w;
  height: 3px;
  background: $secondary;
  margin: 0.7rem auto $b auto;
}

@mixin heading-1 {
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: 0.2rem;
  padding: 1.4rem 0 3rem 0;
  color: $secondary;
  font-family: cocogoose, lato, serif;
}

@mixin heading-2($color) {
  font-size: 2.4rem;
  font-weight: 600;
  color: $color;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}
