@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 65vw;
  height: 100vh;
  z-index: 999;
  padding: 2rem 1rem 2rem 1rem;
  background: #272a31;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0;
    display: block;
    width: 100%;
    height: 8rem;
    background: white;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.top-nav {
  display: none;
  background: #272a31;
  list-style: none;
  height: 3rem;
  padding: 0 5.2rem;
}

@media only screen and (min-width: 768px) {
  .top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.top-nav-item {
  margin: 0 1.25rem;
  padding-bottom: 1.8rem;
}

@media only screen and (min-width: 768px) {
  .top-nav-item {
    margin-right: 1.8rem;
    padding: 1.25rem 0;
  }
}

.top-nav-item :hover {
  color: #ec5242;
}

.top-nav-item .nav-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #d3d3d3;
}

.wrapper-bottom-nav {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .wrapper-bottom-nav {
    display: block;
  }
}

.menu-wrapper {
  padding-bottom: 4rem;
}

@media only screen and (min-width: 768px) {
  .menu-wrapper {
    display: none;
  }
}

.open-menu {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
}

.open-menu .fa-bars {
  color: #272a31;
}

.open-menu .fa-bars:hover {
  color: #ec5242;
}

.close-menu {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
}

.close-menu .fa-times {
  color: #d3d3d3;
}

.close-menu .fa-times :hover {
  color: #ec5242;
}

.wrapper-nav-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .wrapper-nav-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5.2rem;
    padding-top: 0.2rem;
  }
}

.bottom-nav {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    display: flex;
  }
}

.bottom-nav:last-child {
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .bottom-nav:last-child {
    margin: 0;
  }
}

.nav-item {
  margin: 0 1.25rem;
  padding-bottom: 1.8rem;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    margin-right: 1.8rem;
    padding: 1.25rem 0;
  }
}

.nav-item .nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #d3d3d3;
}

.nav-item .nav-link:hover {
  color: #ec5242;
}

@media only screen and (min-width: 768px) {
  .nav-item .nav-link {
    font-size: 1.6rem;
    color: #272a31;
  }

  .nav-item .nav-link:hover {
    padding-bottom: 0.3rem;
    border-bottom: 3px solid #ec5242;
  }
}

.nav-item:last-child {
  border: 2px solid #ec5242;
  padding: 0.7rem;
  max-width: 20rem;
}

.nav-item:last-child:hover {
  border: 2px solid transparent;
  background: #ec5242;
}

.nav-item:last-child .nav-link {
  border-bottom: none;
}

.nav-item:last-child .nav-link:hover {
  color: #d3d3d3;
}

.navbar-brand {
  padding: 1rem;
}

.navbar-brand .logo-image {
  max-width: 12rem;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    padding: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Lato, serif;
  font-size: 10px;
}
